PlasterManifest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ptd="http://www.microsoft.com/schemas/PowerShell/Plaster/2016"
	targetNamespace="http://www.microsoft.com/schemas/PowerShell/Plaster/2016"
  version="1.0"
  xml:lang="en"
	elementFormDefault="qualified"
  attributeFormDefault="unqualified"
	xmlns:vs="http://schemas.microsoft.com/Visual-Studio-Intellisense"
		vs:friendlyname="Plaster Manifest Schema"
		vs:ishtmlschema="false">

	<xs:annotation>
		<xs:documentation>
      Version 1.0 schema for a Plaster manifest file that is used to define
      the metadata, parameters and content of a template.  For information of
      the Plaster project see http://github.com/PowerShell/Plaster.
    </xs:documentation>
	</xs:annotation>

  <xs:simpleType name="condition">
    <xs:annotation>
      <xs:documentation>Used to determine whether a directive is executed.  If the condition evaluates to true, it will execute otherwise it will not.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- **************************************************************** -->
  <!-- Root document element definition                                 -->
  <!-- **************************************************************** -->
  <xs:element name="plasterManifest">
    <xs:annotation>
      <xs:documentation>The top-level element for a Plaster template manifest.</xs:documentation>
    </xs:annotation>
		<xs:complexType>
			<xs:sequence>

        <xs:element name="metadata" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Describes the Plaster template.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="id" maxOccurs="1" minOccurs="1" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The unique identifier for the Plaster template.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="version" maxOccurs="1" minOccurs="1" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The version of the package, in a format like `1.2.3`.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="description" maxOccurs="1" minOccurs="1" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Description of what the template scaffolds.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="title" maxOccurs="1" minOccurs="0" type="xs:string">
                <xs:annotation>
                  <xs:documentation>The human-friendly title of the package displayed in the Manage NuGet Packages dialog. If none is specified, the ID is used instead.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="tags" maxOccurs="1" minOccurs="1" type="xs:string">
                <xs:annotation>
                  <xs:documentation>A comma-separated list of authors of the package code.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="parameters" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Defines parameter values that need to be provided by the user during template invocation.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="parameter" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Define a parameter that the user needs to provide a value during template invocation.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="content" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Specifies the recipe for content scaffolded by the Plaster template.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">

              <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Specify one or more files to copy under the destination folder.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="condition" type="ptd:condition">
                      </xs:attribute>
                      <xs:attribute name="source" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Specifies the relative path to the file in the template's root folder.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="destination" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Specifies the relative path, under the destination folder, to where the file will be copied.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="template" type="xs:boolean" default="false">
                        <xs:annotation>
                          <xs:documentation>If true, the content of the file is processed, expanding any template place holders.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="message" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Displays the specified content as a message to the user.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="condition" type="ptd:condition">
                      </xs:attribute>
                      <xs:attribute name="nonewline" type="xs:boolean" default="false">
                        <xs:annotation>
                          <xs:documentation>If true, suppresses output of a newline at the end of the message.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="modify" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Modify an existing file under the destination folder.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="replace" maxOccurs="unbounded" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Specify a replacement operation of the file content.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>

                          <xs:element name="original" maxOccurs="1" minOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Specify the regular expression for the text to be replaced.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="expand" type="xs:boolean" default="false">
                                    <xs:annotation>
                                      <xs:documentation>If true, expands variables in the replacement string, as if the string were a double quoted PowerShell string.</xs:documentation>
                                    </xs:annotation>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>

                          <xs:element name="substitute" maxOccurs="1" minOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Specify the replacement text.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="expand" type="xs:boolean" default="false">
                                    <xs:annotation>
                                      <xs:documentation>If true, expands variables in the replacement string, as if the string were a double quoted PowerShell string.</xs:documentation>
                                    </xs:annotation>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>

                        </xs:sequence>
                        <xs:attribute name="condition" type="ptd:condition">
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                  <xs:attribute name="condition" type="ptd:condition">
                  </xs:attribute>
                  <xs:attribute name="path" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>Specifies the relative path, under the destination folder, of the file to be modified.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <!-- Modify encoding type to be an enumeration -->
                  <xs:attribute name="encoding" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>Specifies the file encoding to use when writing the modified file.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>

              <xs:element name="newModuleManifest" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Create a new module manifest file using the New-ModuleManifest command.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="condition" type="ptd:condition">
                      </xs:attribute>
                      <xs:attribute name="destination" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Specifies the relative path, under the destination folder, to where the file will be copied.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="author" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Specifies the value of the Author property.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="moduleVersion" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Specifies the value of the ModuleVersion property.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="rootModule" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Specifies the value of the RootModule property.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

            </xs:choice>
          </xs:complexType>
        </xs:element>
    	</xs:sequence>

      <xs:attribute name="version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Version level of the associated XML schema. Only major/breaking changes to the XML schema result in a new target namespace.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
